<h2>INPUT</h2>
<!--<div>{{json}}</div>-->

<div class="form-group">
  <label for="file">Choose Case file:</label>
  <input type="file"
          id="file"
          (change)="handleCaseInput($event)">
</div>

<div class="form-group">
  <label for="file">Choose Product file:</label>
  <input type="file"
          id="file"
          (change)="handleProductInput($event)">
</div>

<div class="form-group">
  <label for="file">Choose Expiary Help file:</label>
  <input type="file"
          id="file"
          (change)="handleHelpExpiaryInput($event)">
</div>


<div id="div1"></div>
<div id="div2"></div>
<button (click)="runWasi()">Run Wasm</button>